include ../../../../components/button/button
include ../../../../components/button/index
include ../../../../components/input/input
include ../../../../components/title/title

include date-input/date-input
include category-input/category-input

append style
  include:sass style.scss

mixin PostForm
  - const {class: className} = attributes;

  form(class=['post-form', className])
    div.post-form__header
      +Title.post-form__title(size='150', tag='h2') Новая запись
      +DateInput.post-form__date-input(label='Дата публикации', name='date', value=getUserFriendlyDateString(new Date(), {withTime: false}))
      +Button.post-form__submit-button(
        theme='gradient-blue-ribbon',
        type='submit',
        view='filled',
        width='160px',
      ) Опубликовать
    //- TODO: Заверстать инпуты
    +Input.post-form__input(
      label='Заголовок',
      name='title',
      size='350',
      value=name,
      view='underlined',
      width='100%',
    )
    +Input.post-form__input(
      label='Фотография',
      name='image',
      size='350',
      value=name,
      view='underlined',
      width='100%',
    )
    +CategoryInput.post-form__category-input
    +Input.post-form__input(
      label='Анонс записи',
      name='preview-text',
      size='350',
      value=name,
      view='underlined',
      width='100%',
    )
    +Input.post-form__input(
      label='Полный текст записи',
      name='text',
      size='350',
      value=name,
      view='underlined',
      width='100%',
    )
