include ../../../../../components/icon/icon

append head
  link(rel='stylesheet' href='/css/flatpickr.min.css')

append style
  include:sass style/date-input.scss
  include:sass style/flatpickr.min.css

append body-end-scripts
  script
    include script/flatpickr.min.js
  script
    include script/flatpickr-l10ns-ru.min.js

mixin DateInput
  -
    const {
      class: className,
      error,
      hint,
      id = Math.random().toString(32).slice(2),
      label,
      name,
      placeholder,
      required = false,
      value,
    } = attributes;
  span(class=['date-input', className])
    +Icon.date-input__icon(name='calendar', size='350')
    span.date-input__wrapper
      label.date-input__label(for=id) #{label}
      input.date-input__control(
        id=id,
        name=name,
        placeholder=placeholder,
        readonly=true,
        type='text',
        value=value,
      )
    script
      include script/date-input.js
