include ../../../../components/input/input

include avatar-input/avatar-input
include sign-up-form-error-information-plate/sign-up-form-error-information-plate

append style
  include:sass style.scss

mixin SignUpForm
  - const {class: className, errors} = attributes;

  form(class=['sign-up-form', className], autofill='off')
    ul.sign-up-form__input-list
      li.sign-up-form__input-list-item
        +Input(
          label='Электронная почта',
          name='email'
          size='300',
          type='email',
          view='underlined',
          width='100%',
          required=true,
        )
      li.sign-up-form__input-list-item
        +Input(
          hint='Выбирайте мудро!',
          label='Имя',
          name='name',
          size='300',
          type='tet',
          view='underlined',
          width='100%',
          required=true,
        )
      li.sign-up-form__input-list-item
        +Input(
          label='Фамилия',
          name='surname',
          size='300',
          type='tet',
          view='underlined',
          width='100%',
          required=true,
        )
      li.sign-up-form__input-list-item
        +Input(
          label='Пароль',
          name='password',
          size='300',
          type='password',
          view='underlined',
          width='100%',
          required=true,
        )
      li.sign-up-form__input-list-item
        +Input(
          label='Повтор пароля',
          name='password',
          size='300',
          type='password',
          view='underlined',
          width='100%',
          required=true,
        )
    if errors.length
      +SignUpFormErrorInformationPlate.sign-up-form__error-information-plate(errors=errors)
    +AvatarInput(hint='Только продоём авотары', name='avatar')
    +Button.sign-up-form__submit-button(
      theme='gradient-blue-ribbon',
      type='submit',
      view='filled',
      width='210px',
    ) Войти
