include ../../../../../views/components/link/index
include ../../../../../views/components/title/title

append style
  include:sass style.scss

mixin SearchResult
  -
    const {class: className, searchResult = {
      postDate: '2021-08-16T18:15:51.728Z',
      postUrl: '/posts/1',
      postTitle: 'Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google',
    }} = attributes;
    const {postDate, postUrl, postTitle} = searchResult;

  div(class=['search-result', className])
    time.search-result__post-date(datetime=postDate) #{getUserFriendlyDateString(postDate)}
    +LinkContainer.search-result__post-link(href=postUrl, underlined=true)
      +Title.search-result__post-title(size='50', tag='h3', weight='regular') #{postTitle}
