append style
  include:sass style.scss

mixin Comment
  -
    const {class: className, lastComment = {
      user: {name: 'Гвидон', surname: 'Черёмушкин', avatar: 'https://thispersondoesnotexist.com/image'},
      postUrl: '/posts/1',
      text: 'Для того , чтобы понять себя и свое место в мире, человеку нужно познать не только окружающий мир, но и самого себя. Поэтому философия всегда играла значительную роль в жизни общества. Я думаю, что каждый из нас хотя бы раз задумывался над тем, что такое философия, к чему она ведет, каков ее вклад в наше мировоззрение. Философия- это одна из форм мировоззрения, которая предполагает целостное знание о природе, обществе и человеке.',
    }} = attributes;
    const {user, postUrl, text} = lastComment;

  div(class=['comment', className])
    div.comment__user
      +Avatar.comment__user-avatar(size='100', alt=`${user.name} ${user.surname}`, src=user.avatar)
      +Title.comment__user-full-name(size='50') #{user.name} #{user.surname}

    +Link(size='200', href=postUrl, theme='royal-blue') #{text}
