include ../../../../../components/avatar/avatar
include ../../../../../components/link/index
include ../../../../../components/text/text
include ../../../../../components/title/title

//- TODO: Сделать кнопку удаления и запрос на удаление комментария

append style
  include:sass style.scss

mixin Comment
  -
    const {className, comment = {
      user: {
        name: 'Вульф',
        surname: 'Тамбовский',
        avatar: 'https://thispersondoesnotexist.com/image'
      },
      postUrl: '/posts/1',
      postTitle: 'Прыгаем по крышам, никого не слышим',
      text: 'Шо блин, дапрыгалися',
      date: '2021-08-16T14:45:39.700Z',
    }} = attributes;
    const {
      user,
      postUrl,
      postTitle,
      text,
      date,
    } = comment;

  div(class=['comment', className])
    div.comment__header
      div.comment__user
        +Avatar.comment_user-avatar(size='100', alt=`${user.name} ${user.surname}`, src=user.avatar)
        +Title.comment__user-full-name(size='50') #{`${user.name} ${user.surname}`}
      time.comment__date(datetime=date) #{getUserFriendlyDateString(date)}
    +LinkContainer.comment__text(href=postUrl, theme='royal-blue') #{text}
    +Text.comment__post-title(weight='bold') #{postTitle}
