include ../../../../../views/components/avatar/avatar
include ../../../../../views/components/link/index
include ../../../../../views/components/text/text
include ../../../../../views/components/title/title

//- TODO: Сделать кнопку удаления и запрос на удаление комментария

append style
  include:sass style.scss

mixin Comment
  -
    const {className, comment} = attributes;
    const {
      id,
      user,
      post,
      text,
      date,
    } = comment;

  div(class=['comment', className])
    div.comment__header
      div.comment__user
        +Avatar.comment__user-avatar(size='100', alt=`${user.name} ${user.surname}`, src=user.avatar)
        +Title.comment__user-full-name(size='50') #{`${user.name} ${user.surname}`}
      time.comment__date(datetime=date) #{getUserFriendlyDateString(date)}
    +LinkContainer.comment__text(href=`/posts/${post.id}#comment-${id}`, theme='royal-blue') #{text}
    +Text.comment__post-title(weight='bold') #{post.title}
