include ../../components/title/title
include ../../components/text/text
include ../../components/link/index

mixin PostCard
  -
    const {class: className, post} = attributes;
    const {
      categories,
      commentsAmount,
      date,
      id,
      image,
      previewText,
      title,
    } = post;

  article(class=['post-card', className])
    if categories.length
      ul.post-card__category-list
          each category in categories
            li.post-card__category-list-item
              +LinkContainer.post-card__category-link(href=`/posts/category/${category.id}`, size='200', theme='royal-blue') #{category.name}
    if image
      img.post-card__image(
        src=image,
        width="100%",
        height="auto",
        alt=post.title,
      )
    time.post-card__date(datetime=date) #{getUserFriendlyDateString(date, {withTime: false})}
    +Title.post-card__title(tag='h3')
      +LinkContainer(href=`/posts/${id}`, size='450', theme='royal-blue') #{title}
    +Text.post-card__preview-text(size='200') #{previewText}
    +LinkContainer.post-card__post-comments-link(href=`/posts/${id}#comments`, size='200', theme='royal-blue')
      | Комментарии 💬
      | #{commentsAmount}
