include ../../../../views/components/button/button
include ../../../../views/components/input/input

append style
  include:sass style.scss

mixin SignInForm
  - const {class: className} = attributes;

  form(class=['sign-in-form', className])
    +Input.sign-in-form__input(
      label='Электронная почта',
      name='email'
      size='300',
      type='email',
      view='underlined',
      width='100%',
      required=true,
    )
    +Input.sign-in-form__input(
      error='Некоторая ошибка произошла, беда!',
      label='Пароль',
      name='password',
      size='300',
      type='password',
      view='underlined',
      width='100%',
      required=true,
    )
    +Button.sign-in-form__submit-button(
      theme='gradient-blue-ribbon',
      type='submit',
      view='filled',
      width='210px',
    ) Войти
