include ../../../../components/button/button
include ../../../../components/input/input

append style
  include:sass style.scss

mixin AddCategoryForm
  - const {class: className} = attributes;

  form(class=['add-category-form', className], autocomplete='off')
    +Input.add-category-form__input(
      label='Новая категория',
      name='category-name',
      size='300',
      view='editable-text',
      width='100%'
    )
    +Button.add-category-form__submit-button(
      size='300',
      shape='sausage',
      theme='switch-black-50',
      type='submit',
      view='outlined',
      width='130px',
    ) Добавить
