include ../../../../components/button/button
include ../../../../components/input/input

append style
  include:sass style.scss

mixin SearchForm
  - const {class: className} = attributes;

  form(class=['search-form', className], autocomplete='off')
    +Input.search-form__input(label='Что ищем?', width='100%', name='q')
    +Button.search-form__submit-button(
      theme='black-50',
      shape='sausage',
      size='300',
      type='submit',
      view='outlined',
      width='130px',
    ) Найти
