include ../../../../../../views/components/button/button
include ../../../../../../views/components/input/input

append style
  include:sass style.scss

mixin Category
  -
    const {
      class: className, category = {
        name: 'Жизнь и путешествия',
      }
    } = attributes;
    const {name} = category;

  div(class=['category', className])
    +Input.category__input(
      name='category-name',
      size='300',
      value=name,
      view='editable-text',
      visuallyHiddenLabel='Название категории',
    )
    //- TODO: Добавить удаление и сохранение категории
    +Button.category__save-button(
      size='300',
      shape='sausage',
      theme='switch-black-50',
      type='submit',
      view='outlined',
      width='130px',
    ) Сохранить
    +Button.category__delete-button(
      size='300',
      shape='sausage',
      theme='switch-black-50',
      type='submit',
      view='outlined',
      width='130px',
    ) Удалить
